<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='../static/favicon.ico')}}">
    <link rel="stylesheet" href="../static/submitted_form/submitted_styles.css">
</head>
<body>
    <h1>Thank you for submitting your form!</h1>
    <p>If this is your first time subscribing to a product, <b>please check your emails for an Amazon Web Services verification email</b>. This will need to be done in order for you to start receiving updates on your product.</p>
    <p>Please choose an option you would like to do.</p>

    <div class="buttons-container">
        <button id="return_to_homepage_button" onclick='window.location.href = "./logged_in"'>Homepage</button>
        <button id="unsubscribe" onclick='window.location.href = "./subscriptions"'>View Subscriptions</button>
        <button id="add_product_button" onclick='window.location.href = "./addproducts"'>Add Product</button>
        <button id="add_product_button" onclick='window.location.href = "./logout"'>Logout</button>
    </div>
</body>
</html>
