<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='../static/favicon.ico')}}">
    <link rel="stylesheet" href="../static/add_product/input_styles.css">
   <script src="../static/login/create_account.js">
</script>
</head>
<body>
    <h1>Create an Account</h1>
    <p>Please enter your name, email, and password.</p>
    <p>You will be required to sign in after creating your account.</p>
    <div class="container" id="submit">
        <h2>Please input your information</h2>
        <form action="/create_account" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
            <span id="first-name-error-message" style="color: red; display: none;">Please enter your first name.</span>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
            <span id="last-name-error-message" style="color: red; display: none;">Please enter your last name.</span>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <span id="email-error-message" style="color: red; display: none;">Please enter a valid email.</span>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <span id="password-error-message" style="color: red; display: none;">Please enter a valid password.</span>

            <label for="re-enter-password">Re-enter Password:</label>
            <input type="password" id="re-enter-password" name="re-enter-password" required>
            <span id="re-enter-password-error-message" style="color: red; display: none;">Passwords do not match.</span>

            {% if error %}
            <span style="color: red;">{{ error }}</span>
            {% endif %}

            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="buttons-container">
        <button id="return_to_index_button" onclick='window.location.href = "./"'>Homepage</button>
        <button id="unsubscribe" onclick='window.location.href = "./login"'>Login</button>
    </div>
    <br>
</body>
</html>
